{% load static %}

<html>

<head>
  <script src="{% static 'main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>

<title> CPCP Inc. </title>

  <body bgcolor="Brown" text="White" onload="splash();">
    <div class="topnav">
  <a class="active" href="/rides/">Home</a>
  <a href="/rides/addride">Add a Ride</a>
  <a href="/about">About</a>
  <a href="/">Splash Page</a>
</div>
    <center>
      <h1><span class="brown">CoolPool CarPool</span></h1>
      <h2><span class="brown2">The Coolest Carpool Experience in Town</span></h2>
      

      

      {% block content %}

      {% endblock %}

      <h2><span class="customerreviews">Customer Experiences:</span></h2>
    </center>
    
  </body>
  <div class="row">
  <div class="column">
    <div class="container">
  <img src="{% static 'car1.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">CoolPool CarPool saved me over $300 on gas this month and I also met some really great friends while carpooling every day! 
    <br /><br />
  -Gregoire L.</div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="container">
  <img src="{% static 'car2.png' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">I tried CoolPool CarPool for the first time to go to my indoor rowing competition in Boston, MA and I got there with ease. They matched me with others going to the same event which was great!
    <br /><br />
  -Floyd B.</div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="container">
  <img src="{% static 'car3.jpg' %}" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">I use CoolPool CarPool every day to get to work and I've gotten to meet so many cool people. Would reccomend!

    <br /><br />
  -Joe G.
</div>
  </div>
</div>
  </div>
</div>
</html>